// Widescreens
@include mediaXl {

}

// Desktops & Laptops 
@include mediaLg {
    .download-section {
        grid-template-areas: 
        'dw1 dw2'
        'dw3 dw4'
        'dw5';
        grid-template-columns: repeat(2, 1fr);
    }
}

// Tablets & Small laptops
@include mediaMd {
    .feature-highlights {
        flex-direction: column;
        align-items: center;
    }

    .topnav {
        flex-direction: column;
    }

    .topnav a {
        display: block;
        width: 100%;
    }

    .download-section {
        grid-template-areas: 
        'dw1'
        'dw2'
        'dw3'
        'dw4'
        'dw5';
        grid-template-columns: 1fr
    }

    .testimonial-section {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-box {
        flex: 0 0 80%;
        margin: 20px auto;
    }
}

// Smartphones
@include mediaSm {
    
}